@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --bpt-grey: #ccc;
    --bpt-white: #fff;
    --bpt-dark-black: #000;
    --bpt-black: #1e2d3b;
    --bpt-yellow: #EDCD1F;
    --bpt-white-grey: #f7f7f7;
    --bpt-light-grey: #e5e5e5;
    --bpt-inactive-color: #b1b1b1;
    --bpt-active-color: #3d5975;
    --bpt-red: #FF4040;
    --bpt-red-hover: #ff2323;
    --bpt-btn-learn-more: #1e2d3b;
    --bpt-btn-learn-more-hover:#2c4053;
    --bpt-btn-build-price: #EDCD1F;
    --bpt-btn-build-price-hover:#f7d620;
    --bpt-green: #06b315;
    --bpt-green-hover: #11e123;
    --bpt-blue: #163cff;
    --bpt-box-radius: 10px;
    --bpt-font-heading: "Wix Madefor Display", Sans-serif;
    --bot-font-number: "Quantico", sans-serif;
}

html, body {
    overflow-x: hidden;
}

.num {
    font-family: var(--bot-font-number)!important;
    font-style: normal!important;
    font-weight: 700!important;
}

.site-main {
    padding: 0;
    max-width: 100%!important;
    width: 100%!important;
    padding-inline-start: 0!important;
    padding-inline-end: 0!important;
}
.page-header {
    display: none!important;
}
.page-content {
    margin-top: 15px;
}
.page-header,
.page-content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.entry-title {
    font-family: var(--bpt-font-heading);
    font-size: 40px;
    font-weight: 800;
    text-transform: none;
    line-height: 1em;
    color: var(--bpt-black);
}

.bpt-container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.bpt-container * {
    box-sizing: border-box;
}

.bpt-tabs {
    display: grid;
    grid-template-columns: 140px 198px 1fr 1fr 1fr 1fr;
}
.bpt-tabs * {
    cursor: default;
}
.bpt-tabs .tab-item {
    position: relative;    
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;    
}
.bpt-tabs .step-num {    
    position: relative;
    z-index: 5;
    width: 50px;
    height: 50px;    
    border-radius: 50%;    
    background-color: var(--bpt-white-grey);
    border: solid 1px var(--bpt-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--bpt-font-heading);;
    font-size: 27px;
    font-weight: 800;
    line-height: 1;
    color: var(--bpt-inactive-color);
    transition: all 0.1s ease-out;
}
.bpt-tabs .step-title {
    width: calc(100% - 50px);
    font-family: var(--bpt-font-heading);;    
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;    
    position: relative;
    padding: 6px 6px 6px 10px;
    min-height: 46px;
    display: flex;
    align-items: center;
    color: var(--bpt-inactive-color);
}
.bpt-tabs .step-title span {
    position: relative;
    z-index: 5;
}
.bpt-tabs .step-title::before,
.bpt-tabs .step-title::after {
    content: '';
    position: absolute;
    top: 0;    
    width: calc(50% + 30px);
    height: 100%;
    background-color: var(--bpt-white);
    border-top: dashed 1px var(--bpt-grey);
    border-bottom: dashed 1px var(--bpt-grey);
    transition: all 0.1s ease-out;
}
.bpt-tabs .step-title::before {
    left: -30px;
}
.bpt-tabs .step-title::after {
    right: -30px;
}
.bpt-tabs .tab-item:last-child .step-title::after {
    width: 50%;
    border-right: dashed 1px var(--bpt-grey);
    right: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.bpt-tabs .tab-item.active .step-num {
    background-color: var(--bpt-black);
    color: var(--bpt-yellow);
    border: solid 1px #0000002b;
    box-shadow: 3px 0px 2px #00000091;
}
.bpt-tabs .tab-item.active .step-title {
    color: var(--bpt-yellow);
}
.bpt-tabs .tab-item.active .step-title::before,
.bpt-tabs .tab-item.active .step-title::after {
    background-color: var(--bpt-black);
    border-top: solid 1px var(--bpt-black);
    border-bottom: solid 1px var(--bpt-black);
}


.bpt-tabs-content {
    margin-top: 40px;    
}

.step {
    display: none;    
}
.suggested-products {
    position: relative;
    overflow: hidden;
}
.suggested-products::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: top left;
    visibility: hidden;
    opacity: 0;
}
.suggested-products.loading::after {
    visibility: visible;
    opacity: 1;
}
.step-1 {    
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.model-item {
    background-color: var(--bpt-white);
    border: solid 1px var(--bpt-light-grey);
    padding: 10px;
    display: grid;
    grid-template-columns: 295px 1fr 200px;
    column-gap: 30px;
    row-gap: 30px;
    border-radius: var(--bpt-box-radius);
}
.model-item.disabled {
    filter: grayscale(100);
}
.model-item.disabled::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;    
    background-color: #ffffffa8;
}
.model-item:first-child .pic img {
    margin-top: 20px;
}
.model-item .pic img {
    width: 100%;
    height: auto;
}
.model-item h2 {
    font-size: 40px!important;
    line-height: 50px!important;
}
.model-item h2 span {
    display: block;
    font-size: 24px!important;
    line-height: 1!important;
    color: var(--bpt-yellow);
}
.model-item h3 {
    font-size: 20px !important;
    line-height: 27px !important;
    font-weight: 700;
}
.model-item p {
    font-size: 16px!important;
    line-height: 24px!important;
}
.model-item .start-price {
    font-size: 26px;
    position: relative;
    color: var(--bpt-blue);
}
.model-item .start-price::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 10px;
    background-color: #ff40404a;
}

.model-item .cta h3 {
    max-width: 180px;
}
.model-item .cta .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    row-gap: 10px;
    max-width: 180px;
}
.model-item .cta a {    
    padding: 15px 10px;
    text-decoration: none;
    font-family: var(--bpt-font-heading);;
    font-weight: 700;    
    text-align: center;
    font-size: 14px;
    line-height: 1;    
    transition: all 0.3s ease-in-out;
}
.model-item .cta .learn-more {
    background-color: var(--bpt-btn-learn-more);
    color: var(--bpt-white);
}
.model-item .cta .learn-more:hover {
    background-color: var(--bpt-btn-learn-more-hover);
}
.model-item .cta .build-price {
    background-color: var(--bpt-btn-build-price);
    color: var(--bpt-black);
}
.model-item .cta .build-price:hover {
    background-color: var(--bpt-btn-build-price-hover);
}
.model-item .description p {
    max-width: 360px;
}
.model-item .cancel-model {
    display: none;
    background-color: var(--bpt-red);
    color: var(--bpt-white);
}
.model-item .cancel-model:hover {
    background-color: var(--bpt-red-hover);
    color: var(--bpt-white);
}
.model-item .continue {
    display: none;
    background-color: var(--bpt-green);
    color: var(--bpt-white);
}
.model-item .continue:hover {
    background-color: var(--bpt-green-hover);
    color: var(--bpt-white);
}
.model-item.selected .build-price,
.model-item.selected .learn-more {
    display: none;
}
.model-item.selected .cancel-model,
.model-item.selected .continue {
    display: block;
}


.step-header {
    padding: 0 0 20px;
}
.step-header.disabled {
    display: none;
}
.step-current-title {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.step-current-title div {
    max-width: 450px;
}
.step-current-title .heading {
    font-family: var(--bpt-font-heading);
    font-weight: 800;
    line-height: 1.2;
    font-size: 30px;
}
.step-current-title .notes {    
    font-family: var(--bpt-font-heading);
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;            
}
.step-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-nav .buttons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6px;
    width: 100%;
    max-width: 300px;    
}
.step-nav button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    font-size: 14px!important;
    line-height: 1!important;
    height: 100%;    
    text-transform: uppercase;
    font-weight: 800!important;
    letter-spacing: 0.5px;
}
.step-nav button path {
    fill: #fff;
}
.step-nav button .icon {
    width: 24px;
    display: flex;
    align-items: center;
}
.step-nav button .icon svg {
    width: 100%;
    height: auto;
}
.step-nav .prev {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.step-nav .next {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.step-nav .prev {
    background-color: var(--bpt-red);
    color: var(--bpt-white);
}
.step-nav .next {
    background-color: var(--bpt-green);
    color: var(--bpt-white);
}
.step-nav .prev:hover,
.step-nav .prev:focus {
    background-color: var(--bpt-red-hover); 
    color: var(--bpt-white);   
}
.step-nav .next:hover,
.step-nav .next:focus {
    background-color: var(--bpt-green-hover); 
    color: var(--bpt-white);   
}
.step-nav .start-over {
    background-color: var(--bpt-btn-build-price);
    color: var(--bpt-black);
}
.step-nav .start-over {
    background-color: var(--bpt-btn-build-price-hover);
    color: var(--bpt-black);
}


.step-header,
.step-products {
    display: grid;
    grid-template-columns: 1fr 360px;    
}


.step-products {    
    background-color: var(--bpt-white);
    border: solid 1px var(--bpt-light-grey);        
    border-radius: var(--bpt-box-radius);
    overflow: hidden;    
}
.step-mini-cart {    
    border-left: solid 1px var(--bpt-light-grey);
    background-color: #ffd7002e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    gap: 40px;
}
.min-cart-container {
    padding: 10px;
    overflow: hidden;
}
.cart-header,
.cart-item {
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    column-gap: 2px;
}
.cart-header span {
    font-family: var(--bpt-font-heading);;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    line-height: 1;
    color: var(--bpt-black);
    border-bottom: solid 2px var(--bpt-black);
    text-align: center;
    padding-bottom: 2px;
}
.cart-item {
    border-top: dashed 1px var(--bpt-inactive-color);
}
.cart-item.item-model {
    border-top: none;
}
.cart-item.item-model .name {
    font-size: 20px!important;
    font-weight: 700!important;
}
.cart-item.item-model .num {
    font-size: 15px!important;
    font-weight: 700!important;
}
.cart-item.item-model .name,
.cart-item.item-model .num {
    color: var(--bpt-dark-black);
}
.cart-item .cart-col {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0;    
}
.cart-col.num {
    align-items: flex-end;
}

.cart-summary {
    border-top: solid 2px var(--bpt-black);
    padding-bottom: 10px;
}
.cart-summary .summary-item {    
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-gap: 10px;
}
.cart-summary span {    
    padding: 10px 0 0;
    font-family: var(--bpt-font-heading);;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.cart-summary .num {
    font-size: 20px;
    font-weight: 800; 
    color: var(--bpt-dark-black);   
}
.cart-summary .save {
    color: var(--bpt-red);
}


.contact-number {
    padding: 10px;
    overflow: hidden;
    background-color: var(--bpt-green);
}
.contact-number .phone {
    display: grid    ;
    grid-template-columns: 50px 1fr;
    grid-gap: 10px;
    max-width: 280px;
    margin: 0 auto;
}
.contact-number .phone svg {
    width: 100%;
    height: auto;
}
.contact-number .contact-title {
    font-family: var(--bpt-font-heading);
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: var(--bpt-white);
}
.contact-number .icon {
    display: flex;
    align-items: center;
}
.contact-number .phone-number {
    font-family: var(--bot-font-number);
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.contact-number .phone-number a {
    text-decoration: none;
    color: var(--bpt-white);
}

.strike { text-decoration: line-through!important; }

.selected-shipping {    
    border-top: solid 2px var(--bpt-black);
    padding: 10px 0;
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 10px;
    visibility: hidden;
    opacity: 0;
}
.selected-shipping.applied {
    visibility: visible;
    opacity: 1;
}
.selected-shipping span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--bpt-font-heading);;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
}
.selected-shipping .icon svg {
    width: 100%;
    height: auto;
}
.selected-shipping span.label {    
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 4px;
}


.suggested-products {
    display: grid;
    grid-template-columns: repeat(2,1fr); 
}
.product-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
    padding: 15px;    
    max-height: 150px;
}
.product-item:nth-child(odd) {
    border-right: dashed 1px var(--bpt-light-grey);
    border-bottom: dashed 1px var(--bpt-light-grey);
}
.product-item:nth-child(even) {    
    border-bottom: dashed 1px var(--bpt-light-grey);
}
.product-item .product-item-img {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    background-image: url(../img/default.png);
}
.product-item-det {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-item-title {
    font-family: var(--bpt-font-heading);;
    font-size: 15px;
    line-height: 1.2;
}
.product-item .add {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}
.product-item button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    padding: 5px !important;
    background-color: var(--bpt-green) !important;
    color: var(--bpt-white) !important;
    border: none !important;
    text-transform: uppercase;
    font-size: 12px!important;
    font-weight: 600!important;
    line-height: 1!important;
    transition: all 0.3s ease-in-out;
    filter: grayscale(1);
    opacity: 0.1;
}
.product-item.added button {
    background-color: var(--bpt-red)!important;
}
.product-item.added button:hover {
    background-color: var(--bpt-red-hover)!important;
}
.product-item:hover button,
.product-item.added button {
    filter: grayscale(0);
    opacity: 1;
}
.product-item button:hover {
    background-color: var(--bpt-green-hover)!important;
}
.product-item button .icon {
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-item button .icon svg {
    width: 100%;
    height: auto;
}
.product-item button .icon polygon {
    fill: #fff;
}
.product-item button .label::after {
    content: 'Add';
}
.product-item.added button .label::after {
    content: 'Cancel';
}
.product-item-price {
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-top: 10px;
    font-size: 15px;
    row-gap: 6px;
}
.product-item-price ins {
    text-decoration: none;
    color: var(--bpt-red);
}


.form-discount,
.form-shipping,
.form-shipping-info,
.confirmation {
    display: none;
    padding: 30px;
    padding-bottom: 40px;
}

.form-field:not(:last-child) {
    margin-bottom: 30px;
}
.form-label {
    font-family: var(--bpt-font-heading);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 6px;
    color: var(--bpt-dark-black);
}
.form-field .checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}
.form-field .checkbox input {
    margin-top: 5px;
}
.form-field .checkbox label,
.form-sub-label {
    color: #616161;
    font-size: 16px;
    line-height: 24px;
}
.form-field textarea {
    height: 200px;
}

.checkbox-group {    
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 30px;
    margin-top: 30px;
}
.checkbox-group .input-group {
    position: relative;
}
.checkbox-group .input-group::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.checkbox-group img {
    width: 100%;
    height: auto;
}
.checkbox-group label {
    font-family: var(--bpt-font-heading);
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    color: var(--bpt-green);
}
.checkbox-group .input-note {
    font-size: 15px;
    line-height: 23px;
}
.checkbox-group .input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.checkbox-group .input input {
    margin-top: 6px;
}


.bpt-footer {
    position: relative;
    margin-top: 40px;    
    padding: 20px 0 30px;
}
.bpt-footer::before,
.bpt-footer::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--bpt-light-grey);
}
.bpt-footer::before {
    left: -50vw;
}
.bpt-footer::after {
    right: -50vw;
}
.bpt-footer h2,
.bpt-footer p {
    position: relative;
    z-index: 5;
}
.bpt-footer p {
    font-size: 16px;
    line-height: 24px;
}
.bpt-footer h2 {    
    font-size: 18px!important;
    line-height: 1;
}
.bpt-footer h2:not(:first-child) {
    margin-top: 30px;
}


.form-shipping-info .form-field {
    margin-bottom: 40px;
}
.form-shipping-info .form-field,
.mailing-address,
.shipping-address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.shipping-address {
    display: none!important;
}
.shipping-address.open {
    display: flex!important;
}
.form-shipping-info .input-group {
    display: grid;
    gap: 10px;
}
.input-group.col-2 {
    grid-template-columns: repeat(2,1fr);
}
.input-group.col-3 {
    grid-template-columns: repeat(3,1fr);
}
.form-shipping-info .input-full input[type="text"],
.form-shipping-info .input-full input[type="email"],
.form-shipping-info .input-full input[type="number"],
.form-shipping-info .input-full input[type="phone"],
.form-shipping-info .input-full textarea,
.form-shipping-info .input-full select {
    width: 100%;
}
.form-shipping-info .checkbox {
    margin-top: 0;
}

div.error {
    font-size: 13px;
    line-height: 1.2;
    color: var(--bpt-red);
    margin-top: 6px;
}

.check-item {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 15px;

    font-family: var(--bpt-font-heading);
    font-size: 18px;
    font-weight: 700;
}
.check-item svg {
    width: 100%;
    height: auto;
}

.confirmation .form-label {
    font-size: 22px;
    font-weight: 700;
}
.confirmation .cta {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.confirmation .cta a {
    font-family: var(--bpt-font-heading);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    line-height: 1;
    padding: 10px;
    color: var(--bpt-white)!important;
}
.confirmation .start-over {
    background-color: var(--bpt-btn-learn-more);    
}
.confirmation .start-over:hover {
    background-color: var(--bpt-btn-learn-more-hover);
}
.confirmation .submit-quote {
    background-color: var(--bpt-green);
}
.confirmation .submit-quote:hover {
    background-color: var(--bpt-green-hover);
}

@media only screen and (max-width: 1024px) {
    .entry-title {
        max-width: 100%!important;
    }

    .page-content {
        max-width: 100%!important;
        padding-left: 7%!important;
        padding-right: 7%!important;
    }

    .bpt-tabs {
        overflow: hidden;
        border-radius: 100px;
        grid-template-columns: 130px 176px 1fr 1fr 1fr 1fr;
    }
    .bpt-tabs .tab-item {
        height: 50px;
        min-height: 50px;
    }
    .bpt-tabs .step-num {
        font-size: 20px;
        width: 50px;
        height: 50px;
    }
    .bpt-tabs .step-title {
        width: calc(100% - 50px);
        font-size: 12px;
        min-height: 44px;
        height: 44px;
    }
    .bpt-tabs .step-title::before {
        left: -25px;
    }
    .bpt-tabs .step-title::after {
        right: -25px;
    }
    .bpt-tabs .step-title::before, .bpt-tabs .step-title::after {
        width: calc(50% + 26px);
    }   
    
    .step-products {
        grid-template-columns: 1fr;
    }

    .model-item {
        grid-template-columns: 1fr;
        padding: 7%;
    }    
    .model-item:nth-child(2) {
        padding-top: 0;
    }
    .model-item .description p {
        max-width: 100%;
    }
    .model-item .pic {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .model-item .pic img {
        max-width: 400px;
    }
    .model-item .cta {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .model-item .cta .buttons {
        margin-top: 10px;
        width: 100%;
        max-width: 180px;
    }
    .model-item:nth-child(2) {
        gap: 0;
    }
    .model-item:nth-child(2) .cta {
        margin-top: 30px;
    }

    .product-item:last-child {
        padding-bottom: 40px;
    }
}
@media only screen and (max-width: 980px) {
    .bpt-tabs {
        grid-template-columns: 130px 176px 1fr 1fr 1fr 133px;
    }
    .bpt-tabs .step-title {
        font-size: 11px;
    }
    .checkbox-group {
        grid-template-columns: 1fr;
    }
    .checkbox-group .img {
        display: none;
    }    
}
@media only screen and (max-width: 950px) {
    .bpt-tabs {
        border-radius: 0;
        row-gap: 10px;    
        grid-template-columns: repeat(3,1fr);
    }
    .bpt-tabs .tab-3 .step-title::after {
        width: 50%;
        border-right: dashed 1px var(--bpt-grey);
        right: 0;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .bpt-tabs .step-title {
        font-size: 14px;
        line-height: 1.2;
    }    
}
@media only screen and (max-width: 767px) {
    .entry-title,
    .step-current-title .heading,
    .step-current-title .notes {
        text-align: center;
        width: 100%;
    }

    .bpt-tabs {
        border-radius: 0;
        overflow: unset;
        height: unset;
        min-height: unset;
        grid-template-columns: 178px 200px 1fr;
    }
    .bpt-tabs .step-title {                
        padding-right: 15px;
    }       

    .model-item {
        grid-template-columns: 1fr;
    }
    .model-item .description p {
        max-width: 100%;
    }
    
    

    .step-products,
    .step-header {
        grid-template-columns: 1fr;
    }
    .step-mini-cart {
        border-left: none;
        border-top: solid 1px var(--bpt-light-grey);
    }
    .step-nav {
        justify-content: center;
        padding-top: 20px;
    }
    .suggested-products {
        grid-template-columns: repeat(2,1fr);
    }
    .product-item:nth-child(odd) {
        border-right: dashed 1px var(--bpt-light-grey);
    }
    .product-item:last-child {
        padding-bottom: 40px;
    }

    .form-shipping-info{
        padding: 0 !important;
    }

}
@media only screen and (max-width: 630px) {
    .bpt-tabs {
        grid-template-columns: 155px 200px 1fr;
    }
}
@media only screen and (max-width: 600px) {

    .bpt-tabs {
        grid-template-columns: 150px 181px 1fr;
    }
    .bpt-tabs .step-title {                
        font-size: 12px;
    }

    .suggested-products {
        grid-template-columns: 1fr;
    }
    .product-item:nth-child(odd) {
        border-right: none;
    }
    .g-recaptcha div {
        max-width: 100%;
        width: 264px!important;
        overflow: hidden;
    }
}
@media only screen and (max-width: 550px) {
    .bpt-tabs {
        grid-template-columns: 167px 1fr;
    }
    .bpt-tabs .tab-3 .step-title::after {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        right: -25px;
    }
    .bpt-tabs .tab-2 .step-title::after,
    .bpt-tabs .tab-4 .step-title::after {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        right: 0;
    }    
}
@media only screen and (max-width: 420px) {
    .bpt-tabs {
        grid-template-columns: 146px 1fr;
    }
}
@media only screen and (max-width: 380px) {
    .bpt-tabs {
        grid-template-columns: 137px 1fr;
    }
    .bpt-tabs .tab-2 .step-title {
        font-size: 11px;
    }
}